.title {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  text-anchor: start;
}

.bg {
  background-image: url("moneyBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-space {
  padding-left: 160px;
}

.input-lbl {
  font-size: 25px;
}

.inputs {
  width: 250px;
  height: 65px;
  font-size: 35px;
  align-self: center;
}

.button {
  width: 130px;
  height: 65px;
  font-size: 25px;
}

.calc-place {
  text-align: center;
}

.calc {
  height: 600px;
  width: 1000px;
}